parameters:
    level: 6
    paths:
        - Cache/
        - Controller/
        - DependencyInjection/
        - EventListener/
        - Service/
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
